.main{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.list{
    width: 250px;
}
.list-item{
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    margin: 0 0.5rem;
    border-radius: 3%;
    font-weight:600;
    font-size: 0.75rem;
}

.list-item img{
    height:30px;
    width: 30px;
    border-radius: 10%;
    margin: 0.5rem;
}
.cur-image{
    width: 400px;
    height:550px;
    border-radius: 2%;
}
.frame{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 300px;
    border: none;
    text-align: center;
}
.active{
    background-color: blue;
    color: white;
}
